<div class="panel">
  <div class="page-forum-thread-title panel-title clearfix">
    <span class="font-weight-bold"> aaaaa </span>
    <hr class="bg-info">
    <span class="font-size-13 text-muted">aaaaaa</span> dddddd
    <span class="font-size-13 pull-right"><span class="label label-info">xxxxxx </span></span>
  </div>
</div>


<%= @survey %>