<% provide(:title, 'Online Survey') %>

<div class="center jumbotron">
  <h1>Welcome to the Online Survey</h1>
  <% if user_signed_in? %>
      <h2> Create new
          <%= link_to "Survey", 'survey/index', class: "btn btn-lg btn-primary" %>
      </h2>
  <% else %>
      <h2>
        To create new survey, please <%= link_to "Log in", new_user_session_path %>
      </h2>
  <% end %>
</div>

<%= link_to image_tag("/assets/online_survey.jpg", alt: "survey logo"),
            root_path %>

